FORMAT: 1A
HOST: http://api.propertyprivately.co/

# Property Privately API

The Property Privately API is based on REST principles, with support for HAL. This API is part of the product for the final year project and dissertation of Elliot Wright for BSc ICT S/w route. 

This API is designed to contain the main concepts of REST, and standards that go with REST to aid in API consumption such as HAL in order to practically investigate their application in modern web services.

**NOTE**: A valid application secret is required to browse the production API. For resources the require full authentication please also specify a valid API key (user token) for the application being used to consume the API. (Please see User -> User Tokens Collection -> Create a Token)

## Common Responses

* `200 OK` - The request was successful.
* `201 Created` - The request has been fulfilled, and a resource has been created.
* `204 No Content` - The request was successful, but there is no representation to return.
* `400 Bad Request` - The request could not be fulfilled because it's requirements were not met.
* `401 Unauthorized` - An authentication attempt has failed.
* `403 Forbidden` - The user currently authenticated does not have permission to use the resource.
* `404 Not Found` - Resource was not found.
* `500 Internal Server Error` - There has been a problem internally.

# Group Directory

The directory is the starting point for the API. When used with a HAL browser it makes getting started with the API exceptionally easy. It links to all of the main sections of the API.

## Directory [/]
### View Directory [GET]

+ Request (application/json)
    + Header
            X-API-App-Token: Application key

+ Response 200 (application/hal+json)
    + Body
            {
              "_links": {
                "self": {
                  "href": "/"
                },
                "pp:properties": {
                  "href": "/properties"
                },
                "pp:user": {
                  "href": "/user"
                },
                "pp:users": {
                  "href": "/users"
                }
              }
            }

# Group User

Resources related to the user in the Property Privately API.

**NOTE:** Unless specified otherwise, full authentication is required to view the resources in this section.

## User Tokens Collection [/user/tokens]
### List all Tokens [GET]

+ Request (application/json)
    + Header
            X-API-App-Token: Application key
            X-API-User-Token: User token

+ Response 200 (application/hal+json)
    + Body
            {
                "total": 1,
                "_links": {
                    "self": {
                        "href": "/user/tokens"
                    },
                    "tokens:token": {
                        "href": "/user/tokens/{id}",
                        "templated": true,
                        "name": "Specific token"
                    },
                    "tokens:application": {
                        "href": "/user/tokens/application/{id}",
                        "templated": true,
                        "name": "Application tokens"
                    },
                    "user": {
                        "href": "/user"
                    }
                },
                "_embedded": {
                    "tokens": [
                        {
                            "id": 1,
                            "description": "USER_TOKEN_DESCRIPTION",
                            "token": "USER_TOKEN_TOKEN",
                            "created": "YYYY-MM-DDTHH:MM:SSZ",
                            "enabled": true,
                            "_links": {
                                "self": {
                                    "href": "/user/tokens/1"
                                }
                            },
                            "_embedded": {
                                "application": {
                                    "id": 1,
                                    "name": "APPLICATION_NAME",
                                    "description": "APPLICATION_DESCRIPTION",
                                    "created": "YYYY-MM-DDTHH:MM:SSZ",
                                    "enabled": true
                                }
                            }
                        }
                    ]
                }
            }

### Create a Token [POST]

Consumer must be authenticated anonymously.

+ Request (application/json)
    + Header
            X-API-App-Token: Application key 
    + Body
            { "username": "User123", "password": "Password123" }

+ Response 201 (application/hal+json)
    + Body
            {
                "id": 1,
                "description": "USER_TOKEN_DESCRIPTION",
                "token": "USER_TOKEN_TOKEN",
                "created": "YYYY-MM-DDTHH:MM:SSZ",
                "enabled": true,
                "_links": {
                    "self": {
                        "href": "/user/tokens/1"
                    }
                },
                "_embedded": {
                    "application": {
                        "id": 1,
                        "name": "APPLICATION_NAME",
                        "description": "APPLICATION_DESCRIPTION",
                        "created": "YYYY-MM-DDTHH:MM:SSZ",
                        "enabled": true
                    }
                }
            }

### Remove all Tokens [DELETE]

+ Request (application/json)
    + Header
            X-API-App-Token: Application key
            X-API-User-Token: User token

+ Response 204

## User Token [/user/tokens/{id}]

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Token to perform action with.

### Retrieve a Token [GET]

+ Request (application/json)
    + Header
            X-API-App-Token: Application key
            X-API-User-Token: User token

+ Response 200 (application/hal+json)
    + Body
            {
                "id": 1,
                "description": "USER_TOKEN_DESCRIPTION",
                "token": "USER_TOKEN_TOKEN",
                "created": "YYYY-MM-DDTHH:MM:SSZ",
                "enabled": true,
                "_links": {
                    "self": {
                        "href": "/user/tokens/1"
                    }
                },
                "_embedded": {
                    "application": {
                        "id": 1,
                        "name": "APPLICATION_NAME",
                        "description": "APPLICATION_DESCRIPTION",
                        "created": "YYYY-MM-DDTHH:MM:SSZ",
                        "enabled": true
                    }
                }
            }

### Update a Token [PATCH]

Updating a token uses [JSON PATCH](https://tools.ietf.org/html/rfc6902). Patchable properties of a token are:

* `description`
* `enabled`

+ Request (application/json)
    + Header
            X-API-App-Token: Application key
            X-API-User-Token: User token
    + Body
            [
                { "op": "replace", "path": "description", "value": "Example" },
                { "op": "remove", "path": "description" },
                { "op": "add", "path": "description", "value": "Example" }
            ]

+ Response 200 (application/hal+json)
    + Body
            {
                "id": 1,
                "description": "USER_TOKEN_DESCRIPTION",
                "token": "USER_TOKEN_TOKEN",
                "created": "YYYY-MM-DDTHH:MM:SSZ",
                "enabled": true,
                "_links": {
                    "self": {
                        "href": "/user/tokens/1"
                    }
                },
                "_embedded": {
                    "application": {
                        "id": 1,
                        "name": "APPLICATION_NAME",
                        "description": "APPLICATION_DESCRIPTION",
                        "created": "YYYY-MM-DDTHH:MM:SSZ",
                        "enabled": true
                    }
                }
            }


### Remove a Token [DELETE]

+ Request (application/json)
    + Header
            X-API-App-Token: Application key
            X-API-User-Token: User token

+ Response 204
